.movie-slider h2 {
  margin: 1vw 0.5vw;
  color: red;
  font-size: 3vw;
  /* font-size: 36px; */
}

.carousel-container {
  position: relative;
  /* overflow: hidden; */
  height: 40vh;
}

@media (max-width: 1023px) {
  .movie-slider h2 {
    font-size: 5vw;
    margin-left: 1.5vw;
  }
  .carousel-container {
    /* height: 50vh; */
  }
}
@media (max-width: 767px) {
  .carousel-container {
    height: 330px;
    display: flex;
    justify-content: space-between;
  }
}
