.carousel-container {
  position: relative;
  /* overflow: hidden; */
  height: 50vh;
}

.carousel-container::before,
.carousel-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 40px; /* partialVisibilityGutter와 같은 값 설정 */
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 흐린 색상 설정 */
  z-index: 1;
  pointer-events: none; /* 클릭 등 이벤트 무시 */
}

.carousel-container::before {
  left: 0;
}

.carousel-container::after {
  right: 0;
}

/* 이게모지 */
@media (max-width: 480px) {
  .carousel-container {
    height: 330px;
    display: flex;
    justify-content: space-between;
  }
}
