.card {
  width: 90vw;
  margin-bottom: 1rem;
  background-color: #121212 !important;
  color: #fafafafa !important;
}
.card .card-text {
  line-height: 1.2rem;
  display: inline;
}
.card .text-muted.custom-muted {
  color: #bbbbbb !important;
}
.card span.more {
  cursor: pointer;
  color: #bbbbbb;
}
.card span.more:hover {
  color: #fafafafa !important;
}
