.dropdowns {
  display: flex;
  justify-content: end;
}
.dropdown {
  position: relative !important;
  /* width: 50vw; */
  /* right: 0; */
  margin: -5vw 1vw 4vw 1vw;

  /* right: 5rem; */
}

.dropdown button {
  --bs-btn-bg: grey;
  --bs-btn-border-color: grey;
  --bs-btn-hover-bg: black;
  --bs-btn-hover-border-color: grey;
  --bs-btn-active-bg: black;
  --bs-btn-active-border-color: grey;
}
.dropdown .dropdown-menu a.dropdown-item:hover {
  background-color: black;
  color: white;
}

@media (max-width: 767px) {
  .dropdown {
    margin-bottom: 10vw;
    margin-top: 0;
  }
}
