.dropdown {
  position: absolute !important;
  /* right: 5rem; */
}
.dropdown.sort-dropdown {
}
.genre-dropdown.dropdown {
  /* right: 12rem; */
  /* margin-left: 2vw; */
}

.dropdown button {
  --bs-btn-bg: grey;
  --bs-btn-border-color: grey;
  --bs-btn-hover-bg: black;
  --bs-btn-hover-border-color: grey;
  --bs-btn-active-bg: black;
  --bs-btn-active-border-color: grey;
}
.dropdown .dropdown-menu a.dropdown-item:hover {
  background-color: black;
  color: white;
}
